body{
    background-image:url("https://raw.githubusercontent.com/PerryHighCS/VanceT/master/skyrim.jpeg");
}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 3px;
    overflow: auto;
    background-color: #111;
}
li {
    float: left;
}
li a {
    display: none;
    color: #ffffff;
    text-align: left;
    padding:35px 40px;
}
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}

li.dropdown {
    display: inline-table;
    background-color: #4CAF50;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: min-content;
    box-shadow: #4CAF50;
}
.dropdown-content a {
    color: #111;
    padding: auto;
    display: none;
    text-align: left;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: inline-table;
}
h1 {
    font-family:sans-serif;
    font-size: 100px;
    font-weight: normal;
    color:#333;
    text-align: center;
    margin-top:200px;
}


h2 {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
}
p {
    font-size: 30px; 
    font-weight: bold;
    color:white;
}
h3 {
    font-size:40px;
    color:white;
}
h4 {
    text-align: center;
    font-size: 100px;
    font-family: Helvetica;
    color:#FF6347;
}
ol {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 50px;
}

canvas {

    border: 1px solid black;
}
#spanModify{
    font-size: 26px;
    font-weight: 400;
    color: black;
    margin: 0px 0px 0px 0px;
}
span{
    font-size: 50px;
    text-align: center;
}

.dropbtn {
display: none;
    position: absolute;
}
textarea{
    color:black;
    font-size:15px ;
}
ol.testhtml{
    font-size:20px;
    text-align:center;
    color:white;
}
a:link, a:visited {
    background-color: #4CAF50;
    color: white;
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #333;
}
h1.tactwo {
    font-size: 75px;
    color:tomato;
    text-align: center;

}
td{
    color: #111;
    width:75px;
    height:75px;
    border:3px solid #4CAF50;
    font-size:50px;
    text-align:center;           
}  