ul {
    list-style-type: none;
    margin: 10px;
    padding: 3px;
    overflow: auto;
    color: white;


}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 27px 30px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
body {
    font-family: Ariel;
    background-image:url("https://raw.githubusercontent.com/PerryHighCS/VanceT/master/skyrim.jpeg");

}
li.dropdown {
    display: inline-block;
    background-color: #4CAF50;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: #111;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: initial;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.navbar li {
    float: left;
}
ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 27px;
    text-decoration: none;
}
ul.navbar li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
li.dropdown.navbar {
    display: inline-block;
    background-color: #4CAF50;
}
.dropdown-content.navbar {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a.navbar {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: black;
    text-align: center;

}
h2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
}
p {
    font-size: 40px; 
    font-weight: bold;
    color:white;
}
h3 {
    font-size:25px;
}
h4 {
    text-align: center;
    font-size: 100px;
    font-family: Helvetica;
    color:#FF6347;
}
ol {
    font-size: 25px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 50px;
}

canvas {

    border: 1px solid black;
}
#spanModify{
    font-size: 26px;
    font-weight: 400;
    color: black;
    margin: 0px 0px 0px 0px;
}
span{
    font-size: 50px;
    text-align: center;
}

.dropbtn {

}
textarea{
    color:black;
    font-size:15px ;
}
ol.testhtml{
    font-size:20px;
    text-align:center;
    color:white;
}
