ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;


}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 27px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.active {
 background-color: #4CAF50;
}
body {
font-family: Ariel;
background-image:url("https://raw.githubusercontent.com/PerryHighCS/VanceT/master/skyrim.jpeg");

}
h1 {
    font-size: 100px;
    font-weight: bold;
    color: black;
    text-align: center;

    }
h2 {
	font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
	}
p {
	font-size: 40px; 
	font-weight: bold;
	background-color:black;
	color:white;
	}
h3 {
	font-size:25px;
	}
h4 {
text-align: center;
font-size: 100px;
font-family: Helvetica;
color:#FF6347;
}
ol {
font-size: 25px;
font-weight: bold;
color: white;
}

canvas {

    border: 1px solid black;
}
#spanModify{
	    font-size: 26px;
    font-weight: 400;
    color: black;
    margin: 0px 0px 0px 0px;
}
